// Mixin para responsividade
@mixin responsive($device) {
  @if $device == mobile {
      @media (max-width: 480px) { @content; }
  }
  @else if $device == mobilePlus {
      @media (max-width: 660px) { @content; }
  }
  @else if $device == tablet {
      @media (max-width: 860px) { @content; }
  }
  @else if $device == tabletplus {
      @media (max-width: 992px) { @content; }
  }
  @else if $device == notebook {
      @media (max-width: 1200px) { @content; }
  }
  @else if $device == desktop {
    @media (min-width: 1550px) { @content; }
  }
}

@keyframes morph{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

@keyframes fadein{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

