$background-color: #131313;
$container-width: 1600px;


$white: #FFFFFF;

$gray-100: #E1E1E1 !default;
$gray-200: #bdbebd !default;
$gray-300: #949494 !default;

$gray-900: #151515 !default;

$purple-400: #982FCB;
$purple-500: #7C2FA1;
$purple-600: #b400b7;
$purple-700: #CB2FC5;
$purple-800: #330649;
$purple-900: #230532;
