@use "variables" as variable;
@import "variables-mixins";

/*  Global config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: variable.$purple-900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: variable.$purple-400;
  border-radius: 20px;
}

::selection {
  background-color: variable.$purple-400;
  color: variable.$white;
}

html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  position: sticky;
  width: 100%;
  height: 100%;
  background: variable.$background-color;
  overflow-x: hidden;
  color: white;
}

header {
  position: sticky;
  background-color: variable.$background-color;
  position: sticky;
  color: variable.$white;
  top: 0;
  z-index: 100;
}

main {
  overflow: clip;
}

fa-icon {
  color: variable.$purple-400;
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: variable.$background-color;
  border-top: 2px solid;
  border-color: variable.$purple-500;

  @include responsive(mobile) {
    padding: 1rem 0.5rem;
  }
}

.container {
  display: flex;
  justify-content: center;

  @include responsive(mobilePlus) {
    min-height: 500px;
  }
}

.header-section {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, variable.$purple-700 50%, rgba(variable.$purple-500, 0%) 100%);
  border-image-slice: 1;
  width: 90%;
  @include responsive(desktop) {
    width: 98%;
  }
}

.title {
  text-align: center;
  padding: 30px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, variable.$purple-700 50%, rgba(variable.$purple-500, 0%) 100%);
  border-image-slice: 1;
  width: 90%;
  @include responsive(desktop) {
    width: 100%;
  }
}

.description {
  width: 90%;
  @include responsive(desktop) {
    width: 98%;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }

  h3,
  p {
    color: variable.$gray-100;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;

    @include responsive(mobilePlus) {
      font-size: 16px;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  gap: 40px;
  width: 100%;
  max-width: variable.$container-width !important;

  @include responsive(tabletplus) {
    padding: 0 20px;
  }

  @include responsive(mobilePlus) {
    padding: 0 10px;
  }
}

/* ***************  */

//Header component style
mat-sidenav {
  display: none !important;
  min-height: 100vh;
  width: 70%;
  position: fixed !important;
  background: variable.$background-color !important;
  color: variable.$white !important;

  @include responsive(tabletplus) {
    display: block !important;
  }

  .logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    color: variable.$purple-500;
    padding: 0.4rem;
    gap: 10px;
    font-weight: bold;

    a {
      width: 80%;
      font-size: 24px;
      text-decoration: none;
      color: variable.$white;

      @include responsive(mobile) {
        font-size: 18px;
      }

      @include responsive(tablet) {
        font-size: 20px;
      }
    }

    fa-icon {
      font-size: 40px !important;
      padding: 0 1rem 0 1rem;

      @include responsive(tablet) {
        font-size: 30px !important;
      }
    }

    #close {
      font-size: 35px !important;
    }
  }

  @include responsive(tabletplus) {
    width: 50%;
  }

  @include responsive(tablet) {
    padding: 0.8rem 0;
    width: 70%;
  }

  @include responsive(mobile) {
    width: 100%;
  }
}

mat-sidenav-content {
  min-width: 100vw;
  min-height: 100vh;
  overflow: initial !important;

  .menu {
    display: none !important;

    &:hover {
      transform: translateX(3px);
      transition: 0.3s;
    }

    @include responsive(tabletplus) {
      display: block !important;
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  border-color: variable.$purple-500;
  padding: 1rem;
  width: 100%;

  @include responsive(tabletplus) {
    padding: 10px 0;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: variable.$container-width;

  a {
    color: variable.$white;
  }

  @include responsive(tabletplus) {
    display: flex;
    justify-content: space-between;

    .nav-links {
      display: none !important;
    }
  }
}

mat-sidenav-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute !important;
  overflow: initial !important;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;

  @include responsive(mobile) {
    font-size: 16px;
  }

  fa-icon {
    font-size: 40px;

    @include responsive(mobile) {
      font-size: 25px;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    gap: 20px;

    @include responsive(tabletplus) {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 40px 0 40px 0;
      justify-content: center;
    }
  }

  li {
    display: flex;
    padding: 5px;

    @include responsive(tabletplus) {
      padding: 10px;
      min-width: 40%;
      text-align: center;
    }
  }
}

.link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.2s;
  color: variable.$white;

  &:hover {
    transition: 0.2s;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-image: linear-gradient(90deg, variable.$purple-700 60%, rgba(variable.$purple-500, 0) 100%);
    border-radius: 12px;
    transition: all 0.4s ease;
  }

  &:hover:before {
    width: 100%;
  }

  @include responsive(mobile) {
    font-size: 18px;
  }
}
/* ***** Particle component style***** */
#particles {
  z-index: -10;
  position: fixed !important;
}

/* ***** Profile component Style ***** */

#perfil {
  @include responsive(mobilePlus) {
    min-height: 100%;
    max-height: 600px;
    padding: 50px 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.profile {
  display: flex;
  padding: 0 90px;
  height: 100vh;
  align-items: center;
  max-height: 600px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: variable.$container-width;

  @include responsive(tabletplus) {
    padding: 60px;
  }

  @include responsive(tablet) {
    padding: 40px;
  }

  @include responsive(mobilePlus) {
    flex-direction: column-reverse;
    padding: 50px 10px !important;
    gap: 30px;
    place-content: baseline;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;

    @include responsive(tabletplus) {
      font-size: 40px;
    }

    @include responsive(tablet) {
      font-size: 36px;
    }

    @include responsive(mobile) {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 48px;
    font-weight: 700;

    @include responsive(tabletplus) {
      font-size: 40px;
    }

    @include responsive(tablet) {
      font-size: 36px;
    }

    @include responsive(mobile) {
      font-size: 30px;
    }
  }

  p {
    font-size: 32px;
    font-weight: 700;
    color: variable.$purple-400;

    @include responsive(tabletplus) {
      font-size: 28px;
    }

    @include responsive(tablet) {
      font-size: 24px;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    @include responsive(mobilePlus) {
      width: 100%;
      align-items: center;
    }
  }

  .welcome {
    @include responsive(mobilePlus) {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }

  .actions {
    margin: 40px 0;
    display: flex;
    gap: 30px;

    @include responsive(tablet) {
      gap: 20px;
    }

    a {
      padding: 8px 40px;
      border-radius: 40px;
      font-size: 16px;
      color: variable.$white;
      font-weight: 500;
      transition: 0.4s;

      @include responsive(mobile) {
        font-size: 14px;
      }

      &#linkedin {
        background: variable.$purple-500;
        border: 4px solid variable.$purple-500;

        &:hover {
          background-color: transparent;
          transform: scale(0.95);
        }
      }

      &#github {
        background: transparent;
        border: 4px solid variable.$purple-500;

        &:hover {
          background-color: variable.$purple-500;
          transform: scale(0.95);
        }
      }
    }
  }

  .avatar {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    /* Border multi color */
    background-image: linear-gradient(
      90deg,
      variable.$purple-700 30%,
      variable.$purple-400 60%,
      variable.$purple-500 100%
    );
    background-origin: border-box;
    border: 5px solid transparent;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 10s linear infinite;
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
    }

    img {
      width: 100%;
      height: 100%;
      background: variable.$background-color;
    }

    @include responsive(tabletplus) {
      width: 270px;
      height: 270px;
    }

    @include responsive(tablet) {
      width: 250px;
      height: 250px;
    }

    @include responsive(mobilePlus) {
      width: 200px;
      height: 200px;
    }
  }
}

/*  About section */

#sobre {
  padding: 50px 0;
}

/*  Skill section */
#habilidades {
  padding: 50px 0;

  .description {
    h3 {
      text-align: center;
    }
  }
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 90%;
  @include responsive(desktop) {
    width: 98%;
  }

  mat-card {
    width: 110px;
    height: 110px;
    border-radius: 5px;
  }
}

.example-card {
  max-width: 400px;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515 !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: variable.$purple-500 !important;
  padding: 10px 5px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 12px;
  transition: 0.3s !important;

  h4 {
    color: variable.$purple-400;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0px 5px 15px 5px variable.$purple-800;
    transform: translateY(-5px) !important;
    border-color: variable.$purple-400 !important;
  }
  &:active {
    box-shadow: 0px 5px 15px 5px variable.$purple-800;
    transform: translateY(-5px) !important;
    border-color: variable.$purple-400 !important;
  }
}

/*  jobs section */
#trabalhos {
  padding: 50px 0;
}

.jobs {
  display: flex;
  width: 85%;
  gap: 40px;
  @include responsive(desktop) {
    min-width: 95%;
  }

  @include responsive(tablet) {
    flex-direction: column;
    font-size: 12px;
    font-weight: 500 !important;
  }

  .job-list {
    width: 35%;
    min-width: 25%;
    max-width: fit-content;
    border-left: 5px solid rgba(variable.$purple-500, 100%);
    padding-left: 20px;
    height: max-content;

    @include responsive(tablet) {
      min-width: 95%;
      font-size: 14px;
      font-weight: 500 !important;
    }

    .title {
      border-image: none !important;
    }
  }

  .jobs-pagination {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 5px;

    @include responsive(tablet) {
      font-size: 14px;
      font-weight: 500 !important;
    }

    fa-icon {
      font-size: 12px;
      color: variable.$purple-800;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
        color: variable.$purple-500;
      }
    }
    mat-icon.active fa-icon {
      color: variable.$purple-400;
    }
  }

  .title {
    padding: 10px 0;
    text-align: start;
    width: 100%;

  }

  .button-group {
    margin-bottom: 20px;
    width: 100%;
    border: none;

    &:hover {
      box-shadow: 0px 5px 15px 5px variable.$purple-800;
    }

    .button-jobs {
      background-color: rgba(variable.$gray-900, 50%);
      width: 100%;
      padding: 10px 0;
      border: 2px solid rgba(variable.$purple-500, 100%);
      border-radius: 5px;
      transition: 0.3s;
      button{
        text-align: start;
      }
    }

    .mat-button-toggle-checked {
      background-color: rgba(variable.$purple-500, 100%);
      transition: 0.3s;
    }
  }

  .job-details {
    width: 100%;
    padding-left: 10px;
    box-shadow: 0px 5px 15px 5px variable.$purple-800;
  }

  mat-card-header {
    width: 100%;
    padding: 10px 20px;

    h3{
      width: max-content;
      display: contents;

      @include responsive(tablet) {

        font-size: 16px;
      }
    }
    strong {
      color: variable.$purple-400;
    }
    p {
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 14px;
      padding: 5px 0;
    }
  }


  mat-card-content {
    width: 100%;

    .activity {
      display: flex;
      align-items: baseline;

      p {
        padding: 10px;
        font-weight: 300;
        color: #E1E1E1
      }
      @include responsive(tablet) {
        font-size: 14px;
      }
    }

  }
}

/*  Projects section */
#projetos {
  padding: 50px 0;
}

.repo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 40px 10px;
  padding-top: 30px;
  justify-content: space-evenly;

  @include responsive(desktop) {
    width: 98%;
    justify-content: center;
    gap: 30px;
  }

  h3 {
    font-size: 20px;
    color: white;
  }

  a {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    align-items: center;
    width: fit-content;
  }

  p {
    color: #E1E1E1;
    font-weight: 300 !important;
    font-size: 16px;

    @include responsive(mobile) {
      font-size: 12px;
      font-weight: 500 !important;
    }
  }

  mat-card {
    width: 430px;
    padding: 20px;
    align-items: start;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &:hover {
      transform: translateY(0) !important;
      border-color: variable.$purple-400 !important;

      .placeholder {
        opacity: 0;
      }

      .techs {
        animation-duration: 0.3s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
        animation-name: fadein;
        animation-delay: 30ms;
      }
    }

    @include responsive(notebook) {
      width: 600px;
      padding: 40px;
    }

    @include responsive(mobilePlus) {
      width: 100%;
      padding: 20px;
    }
  }

  mat-card-header {
    display: flex;
    padding: 10px 0;
    font-weight: 700;
    width: 70%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, variable.$purple-700 30%, rgba(variable.$purple-500, 0%) 80%);
    border-image-slice: 1;

    @include responsive(mobilePlus) {
      width: 100%;
    }
  }

  mat-card-title {
    width: 100%;
  }

  mat-card-content {
    padding: 15px 0;

    @include responsive(notebook) {
      padding: 30px 0;
    }

    @include responsive(mobilePlus) {
      padding: 15px 0;
    }
  }

  mat-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
  }

  mat-card-actions {
    padding: 0;
    font-size: 14px;
    min-width: 120px;
    width: 100%;

    .link {
      &:before {
        height: 1px;
      }
    }

    h3 {
      text-align: start !important;
    }
  }

  .skills {
    gap: 8px;
    width: 100%;
    justify-content: flex-end;

    span {
      display: flex;
      align-items: center;
      position: relative;
      width: 20px;
      height: 20px;

      @include responsive(mobile) {
        width: 10px;
        height: 10px;
      }
    }
  }

  .placeholder {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 10px;
    border-radius: 100%;
    background: variable.$gray-200;
  }

  .techs {
    opacity: 0;

    img {
      @include responsive(mobile) {
        width: 15px;
        height: 15px;
      }
    }
  }

  .upcoming {
    p {
      padding: 35px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      font-weight: 300 !important;

      @include responsive(mobile) {
        font-size: 12px;
        font-weight: 500 !important;
      }
    }
  }
}

#contato {
  padding: 50px 0;

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: variable.$gray-200;
    font-size: 16px;
    font-weight: 700;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    width: 90%;
    min-height: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;

    @include responsive(mobilePlus) {
      gap: 20%;
    }

    @include responsive(mobile) {
      gap: 15%;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: variable.$gray-900;
    border-radius: 10px;
    border: 1px solid variable.$purple-800;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 5px 15px 5px variable.$purple-800;
      transform: scale(0.95);
      border-color: variable.$purple-500 !important;
    }

    @include responsive(mobilePlus) {
      width: 50px;
      height: 50px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 20px;

  @include responsive(mobilePlus) {
    padding: 0;
  }
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: variable.$container-width;

  @include responsive(mobilePlus) {
    justify-content: center;
    gap: 10px;
  }

  p {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: white;
    gap: 10px;

    a {
      color: variable.$purple-400;
      text-decoration: none;
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        color: variable.$purple-500;
      }
    }

    @include responsive(mobile) {
      font-size: 12px;
      gap: 5px;
      justify-content: center;
    }
  }

  .logo {
    p {
      font-size: 16px;

      @include responsive(mobile) {
        font-size: 12px;
      }
    }

    fa-icon {
      font-size: 25px;
    }
  }
}
