<!-- Sidenav -->
<div class="navbar">
  <!-- Tollbar desktop + nav links -->
  <mat-toolbar>
    <span class="logo">
      <fa-icon [icon]="faCode"></fa-icon>
      <a href="#">GABRIELAVBERTO</a>
    </span>
    <span class="nav-links">
      <ul>
        <li>
          <a class="link" href="#perfil">Perfil</a>
        </li>
        <li>
          <a class="link" href="#sobre">Sobre mim</a>
        </li>
        <li>
          <a class="link" href="#habilidades">Habilidades</a>
        </li>
        <li>
          <a class="link" href="#contato">Contato</a>
        </li>
      </ul>
    </span>
    <!-- Sidenav button open -->
    <button
      class="menu"
      mat-icon-button
      matTooltip="Basic"
      aria-label="menu"
      (click)="openSidenav.emit()"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </mat-toolbar>
</div>
