<section id="perfil" id="perfil" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-offset="0">
  <div class="container">
    <div class="profile">
      <div class="intro">
        <div class="welcome">
          <h1>Portfólio</h1>
          <h2>GABRIELA BERTO </h2>
          <p>
            <ngx-typed-writer [strings]="[
                'Desenvolvedora Full Stack',
                'Analista de Suporte',
                'Contate-me'
              ]" [cursorChar]="'.'" [showCursor]="true" [backSpeed]="30" [typeSpeed]="100" [backDelay]="3000">
            </ngx-typed-writer>
          </p>
          <p></p>
        </div>

        <div class="actions">
          <a id="linkedin" href="https://www.linkedin.com/in/gabrielavberto/" target="_blank">LinkedIn</a>
          <a id="github" href="https://github.com/itsgabstech" target="_blank">GitHub</a>
        </div>
      </div>
      <div>
        <a class="avatar" href="https://www.linkedin.com/in/gabrielavberto/" target="_blank">
          <img src="assets/img/profile.webp" height="300" width="300" loading="lazy" />
        </a>
      </div>
    </div>
  </div>
</section>
<section id="sobre" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Sobre mim</h2>
      </div>
      <div class="description">
        <p>
          Olá! Sou Gabriela Berto, uma entusiasta de tecnologia e pesquisa. Atualmente, sou discente em Ciência da Computação, Bolsista Voluntária de Iniciação Científica (PIBIC) e desenvolvedora em crescimento.
          Minha trajetória começou como Técnica de Suporte, e foi nesse contato direto com problemas reais que nasceu meu interesse em criar soluções. Essa motivação me levou ao Desenvolvimento Web e, agora, estou expandindo minha expertise para o Backend. Meu foco é o aprofundamento em Java, buscando desenvolver sistemas mais complexos, robustos e eficientes.
         </p>
      </div>
    </div>
  </div>
</section>
<section id="habilidades" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Habilidades</h2>
      </div>
      <div class="description">
        <h3>
          Possuo conhecimentos e já desenvolvi projetos com essas tecnologias!
        </h3>
      </div>
      <div class="skills">
        <!--Skill -->
        <mat-card [attr.data-aos]="skill.aosAnimation" *ngFor="let skill of mySkills">
          <img mat-card-image [src]="skill.icon" width="45" height="45" [alt]="skill.alt" />
          <h4>{{ skill.name }}</h4>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section id="trabalhos" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Experiência</h2>
      </div>
      <div class="jobs">
        <!-- -->
        <mat-list class="job-list">
          <div class="title">
            <mat-button-toggle-group [@fadeInUp] class="button-group" appearance="legacy" name="fontStyle"
              aria-label="Font Style" #group="matButtonToggleGroup" *ngFor="let job of paginatedJobs">
              <mat-button-toggle class="button-jobs" (click)="selectJob(job)" [checked]="selectedJob === job">
                <img [src]="job.icon" alt="empresa" width="30" height="30" />
                {{ job.company }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="jobs-pagination">
            <mat-icon *ngFor="let page of pagesArray" [class.active]="currentPage === page" (click)="changePage(page)">
              <fa-icon [icon]="faCircle"></fa-icon>
            </mat-icon>
          </div>
        </mat-list>

        <ng-container *ngFor="let job of selectedJob ? [selectedJob] : []">
          <mat-card class="job-details" [@fadeInDown]>
            <mat-card-header>
              <mat-card-title class="title">
                <h3>
                  {{ job.position }}
                  <strong>| {{ job.company }}</strong>
                </h3>
                <p>{{ job.duration }}</p>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let description of job.description" class="activity">
                <fa-icon [icon]="faCodeCommit"></fa-icon>
                <p>
                  {{ description }}
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section id="contato" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Contato</h2>
      </div>
      <div class="description">
        <h3>
          Possui alguma dúvida? Entre em contato comigo através dos canais
          abaixo!
        </h3>
      </div>
      <div class="social-links">
        <div class="social" [attr.data-aos]="social.aosAnimation" *ngFor="let social of socialMedia">
          <a class="btn" aria-label="Acesse minha rede social" [href]="social.url"
            [target]="social.name === 'Gmail' ? '_self' : '_blank'" [ariaLabel]="social.alt">
            <img [src]="social.icon" width="100" height="100" [alt]="social.alt" />
          </a>
          <h4>{{ social.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<app-particles-animation id="particles"></app-particles-animation>